# /etc/systemd/system/7dtd.service
[Unit]
Description=7dtd
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/opt/games/7days/
ExecStart=/opt/games/discord-7dtd-bot/scripts/live-startserver.sh -configfile=/opt/games/discord-7dtd-bot/scripts/live-serverconfig.xml
ExecStop=/opt/games/discord-7dtd-bot/scripts/shutdown.sh
User=7dtd
Group=7dtd
KillMode=none
Restart=no

[Install]
WantedBy=multi-user.target
